.appBar {
    height: 6em;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: flex-end;
    border: 0;
    border-bottom: .5em  solid rgb(22, 22, 24);
    color: rgb(22, 22, 24);
    z-index: 3;
    width: 100%;
}
a {
    background-color: transparent;
    height: 100%;
    width:10em;
    max-width: 25%;
    padding: 0;
    border: 0em;
    margin: 0 2em;
}